@charset "utf-8";

* {
    margin: 0; padding: 0; box-sizing: border-box;
}
html {height: 100%;}
body {width: 100%; min-width: 1200px; background: #fff;
    font-family: 'Freesentation-4Regular'; color: #261815;}
a {display: block; color: inherit; text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%; vertical-align: top;}
table {max-width: 100%; border-collapse: collapse;}
button {cursor: pointer;}

/*레이아웃----------------------*/
#container {width: 100%;}
header {
    width: 100%; height: 100px;
    position: fixed; left: 0; top: 0;
    display: flex; align-items: center; justify-content: space-between; z-index: 33;
}
#slide {width: 100%; height: 50vh; background: lightblue;}
#cont {width: 100%; min-width: 1280px; max-width: 1440px; margin: 0 auto;}
footer {width: 100%; height: 100px;}

/*헤더----------------------*/
nav {
    width: 70%; height: 60px; position: relative;
    background: rgba(255, 255, 255, .5);
    font-family: 'Freesentation-7Bold'; 
    font-size: 25px; padding: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
}
.navi {width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-around; overflow:visible}
.navi li{padding: 0 10px;}
.sub {
    width: 100%; height: 120px;
    position: absolute; left: 0; top: 60px;
    background: rgba(255, 255, 255, .5);
    font-size: 20px; display: flex;
    justify-content: space-around;
    align-items: center;
}
.sub li:last-child {width: 200px;}
.sub_back {display: none;}
/*슬라이드----------------------*/
#slide {background: url(https://images.unsplash.com/photo-1554779147-a2a22d816042?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center/cover;}
/*컨텐츠----------------------*/
#cont1 {width: 100%; height: 50vh; position: relative;}
#cont2 {width: 100%; height: calc(100vh - 100px); padding-top: 100px;}
/*자기소개----------------------*/
.port {
    width: 450px; height: 500px;
    position: absolute; left: 10%; top: -100px; z-index: 10;
}
.c1txt {
    width: 700px; height: 400px; background: lightgray;
    position: absolute; right: 10%; top: 30px; z-index: 20;
    padding: 10px;
}
.info {font-size: 20px; border-bottom: 1px solid #261815; padding: 10px;}
.info li {margin-bottom: 10px;}
.info li:nth-child(1) {font-family: 'Freesentation-9Black';}
.skill {width: 100%; display: flex; align-items: center; justify-content: space-between; border: none; padding: 10px;}
.skill li {width: 80px; position: relative;}
.icon {position: absolute; opacity: 0;}
.icon:hover {opacity: 1; transition: .5s ease-out;}
.icon:not(:hover) {transition: .5s ease-out;}
/*작업물----------------------*/
.gall {width: 100%; height: 100%; padding: 35px 0;
display: flex; justify-content: center;}
.title {font-size: 50px; font-family: 'Freesentation-9Black';
    margin-right: 100px;}
.gall ul {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 450px 200px 200px;
    gap: 20px;
}
.gall li {position: relative;}
.gall li a {width: 100%; height: 100%;}
.mp {
    grid-row-end: span 3; background: lightblue;
    background: url(../images/web/thumb.png) no-repeat center/cover;
}
.port1 {background: url(../images/character/chara_2_thumb.png) no-repeat center/cover;}
.port2 {background: url(../images/logo/thumb.png) no-repeat center/contain;}
.port3 {background: url(../images/poster/thumb.png) no-repeat center/contain;}
.port4 {background: url(../images/mockup/thumb.png) no-repeat center/contain;}
.bn {
    grid-column-end: span 2;
    background: url(../images/banner/thumb.png) no-repeat center/contain;
}
.ptxt {
    width: 100%; height: 100%; font-size: 30px;
    font-family: 'Freesentation-9Black'; color: #fff;
    background: rgba(0, 0, 0, .3); position: absolute;
    left: 0; top: 0; display: none;
    text-align: center; padding: 80px 0;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}
.big {padding-top: 280px;}
.gall li:hover {filter: grayscale(1);}

/*푸터----------------------*/
.foot1 {
    background: #cbc2c0; color: #fff; width: 100%; height: 100%;
    display: flex; justify-content: space-around;
    align-items: center; font-size: 14px;
}

/*팝업----------------------*/
.modal {
    position: fixed; width: 100%; height: 100%;
    background: rgba(0, 0, 0, .85); z-index: 99;
    left: 0; top: 0; display: none;
}
.fade {
    width: 80%; height: 800px; margin:100px auto;
}
.fadeimg {height: 700px !important; display: flex !important; align-items: center !important; justify-content: center !important; overflow: hidden;}
.explain {
    padding: 30px; color: #fff; font-size: 24px;
}
.explain li {margin-bottom: 20px;}
.explain li:first-child {font-size: 30px; font-family: 'Freesentation-9Black'; font-weight: normal;}
.fade>div img {height: 700px; margin-left: 40px;}
.slick-next:before, .slick-prev:before {
    font-family: 'Freesentation-9Black' !important;
    font-size: 50px !important;
}
.bt {width: 70px; height: 70px; position: fixed; right: 30px; top: 30px; z-index: 120; display: flex; align-items: center; justify-content: center; opacity: 0.7;}
button {width: 50px; height: 50px; background: none; border: none;}
.bt:hover {opacity: 1;}
.logo_me .fade>div img {height: 300px; margin-left: 40px;}
.widthp {width: 700px; height: 100%; object-fit: contain;}
.width_web {width: 1000px; height: 100%; object-fit: contain;}
.site {
    width: 100px; height: 40px; border: 1px solid #fff;
    border-radius: 40px;
}
.site>button {
    width: 100%; height: 100%; color: #fff;
    border: none; background: none; font-size: 18px;
    font-family: 'Freesentation-4Regular';
}
.site:hover {background: rgba(255, 255, 255, .5);}
.ex {width: 500px; line-height: 35px;}
.short {width: 360px;}
span {box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);}
.font1 {background: #232323;}
.font2 {background: #ed9726;}
.font3 {background: #738538;}
.font4 {background: #283a97;}
.font5 {background: #a1ce57;}
.font6 {background: #000;}