@charset "utf-8";
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'GowunBatang-Regular';
}
html {height: 100%;}
body {
    width: 100%; height: 100%; background: #ffffff;
    color: #333333;
}
ul {list-style: none;}
a {text-decoration: none; color: inherit; display: block;}
img {vertical-align: top; max-width: 100%; max-height: 100%;}
table {max-width: 100%; max-height: 100%; border-collapse: collapse;}
button {cursor: pointer;}
a:hover, a:focus {font-weight: bold;}

/*레이아웃-------------------------*/
#top {width: 100%; height: calc(100% - 120px); display: flex;}
header {width: 200px; height: 100%;}
#slide {width: calc(100% - 600px); height: 100%; position: relative; overflow: hidden;}
#cont {width: 400px; height: 100%;}
footer {width: 100%; height: 120px; display: flex; background: #232323;}

/*헤더-------------------------*/
.logo {height: 100px; display: flex; align-items: center;justify-content: center;}

nav {padding: 10px;}
.navi>li {width: 180px; position: relative; border-bottom: 1px solid #333;}
.navi li:last-child {border: none;}
.navi>li>a {padding: 10px;}
.navi>li:hover, .navi>li>a:focus {
    background: #232323; color: #fff;
    font-weight: bold;
}
.sub {
    width: 200px; padding: 10px; display: none;
    position: absolute; left: 180px; top: 0;
    background: #fff; color: #333; font-weight: normal;
    text-align: center; z-index: 33;
}
.sub li {width: 180px; border-bottom: 1px solid #333;}
.sub li:last-child {border: none;}
.sub li a {padding: 10px;}
.sub>li>a:hover, .sub>li>a:focus {
    background: #232323; color: #fff;
    font-weight: bold;
}

/*슬라이드-------------------------*/
#slide ul {width: 300%; height: 100%; display: flex; position: absolute;}
#slide li {width: 33.33%; height: 100%; position: relative;}
.s1 {background: url(../images/s1.jpg) no-repeat center/cover;}
.s2 {background: url(../images/s2.jpg) no-repeat center/cover;}
.s3 {background: url(../images/s3.jpg) no-repeat center/cover;}
#slide li h2 {
    width: 100%; height: 117px; position: absolute;
    background: rgba(0, 0, 0, .5); bottom: 0;
    display: flex; align-items: center;
    padding: 0 30px; color: #fff;
    text-shadow: 2px 2px 3px #000; overflow: hidden;
}
#slide li h2 span {background: #ed9726; padding: 0 10px;}

/*콘텐츠-------------------------*/
#cont>div {padding: 10px;}
.cont1 {height: 15%;}
.cont1 a {width: 100%; height: 100%; background: #232323; padding: 10px;}
.cont1 ul {
    width: 100%; height: 100%; display: flex; color: #fff;
    justify-content: space-between;
}
.cont1 li {
    height: 100%; text-align: center; font-size: 13px;
}
.cont1 li:first-child img {width: 65px; height: 65px; object-fit: cover; margin-top: 7px; border-radius: 15px;}
.cont1 li p {font-size: 12px; margin-top: 7px;}
.cont1 li:last-child img {margin-top: 15px;}
.cont1 a:hover, .cont1 a:focus {background:#dd8819;}

.cont2 {height: 30%;}
.cont3 {height: 40%;}
.tab li {
    width: 100px; height: 40px; background: #232323;
    color: #fff; font-weight: bold; line-height: 40px;
    text-align: center; margin-left: 10px;
}
.tabcon {
    width: 100%; height: calc(100% - 40px);
    background: #fff; padding: 10px;
    border-top: 2px solid #232323;
    border-bottom: 2px solid #232323;
}
.noti {width: 100%; height: 100%; font-size: 14px;}
.noti tr {border-bottom: 1px dashed #232323;}
.noti tr:last-child {border: none;}
.noti th {font-weight: normal; text-align: left; padding: 0 10px;}
.noti th a {width: 100%; height: 100%; display: flex; align-items: center;}
.noti td {padding: 0 10px; text-align: right;}
.noti tr:hover, .noti th:hover, .noti tr th a:focus {
    font-weight: bold; background:#ed9726; color: #fff;
}
.gall {
    width: 100%; height: 100%; font-size: 14px;
    display: flex; align-items: center;
    justify-content: space-between; text-align: center;
}
.gall li {width: 49%;}
.gall img {margin-bottom: 10px;}
.gall img:hover {opacity: .5;}
.gall a:hover, .gall a:focus {font-weight: bold;}

.cont4 {height: 15%;}
.cont4 ul {
    width: 100%; height: 100%; font-size: 14px;
    display: flex; align-items: center;
    justify-content: space-around; text-align: center;
}
.cont4 li a {width: 90px; height: 90px; padding: 10px;}
.cont4 li img {width: 50px;}
.cont4 li a:hover {background: #fff; filter: invert(1); font-weight: bold;}

/*팝업-------------------------*/
.modal {
    width: 100%; height: 100%; position: fixed;
    left: 0; top: 0; z-index: 99; display: none;
    background: rgba(0, 0, 0, .5);
}
.body {width: 300px; margin: 200px auto;}
.bt {float: right;}
button {
    width: 60px; height: 35px; text-align: center;
    background: #232323; color: #fff;
    line-height: 35px; border-radius: 0 0 10px 10px; 
    border: none;
}

/*푸터-------------------------*/
.foot1, .foot3 {width: 200px; height: 100%; display: flex; align-items: center; justify-content: center;}
.foot2 {width: calc(100% - 400px); height: 100%;}
.foot2>div {
    height: 50%; color: #fff; font-size: 12px;
    text-align: center; display: flex;
    align-items: center; justify-content: center;
}
.foot1 {padding: 0 30px;}
.foot1 img {filter: grayscale(1);}
.under ul {display: flex; align-items: center; justify-content: center;}
.under li {
    padding: 0 20px; overflow: hidden;
    border-left: 1px solid #fff;
}
.under li:first-child {border: none;}

/*-------------------------*/

